<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="24e8f6d0-dc34-4add-9c65-f15888a1107b" Publisher="CN=IB USER" Version="1.0.0.0" />
  <Properties>
    <DisplayName>TamilFruits</DisplayName>
    <PublisherDisplayName>IB USER</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="TamilFruits.App">
      <m2:VisualElements DisplayName="TamilFruits" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\Square30x30Logo.png" Description="TamilFruits" ForegroundText="light" BackgroundColor="orange">
        <m2:DefaultTile ShortName="TamilFruits">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="orange" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>